<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748853933940-mb083vdl670ous81buebbahntq79fjgn.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
			<string><!— YOUR RESERVED CLIENT ID —></string>
			
			</array>
		</dict>
	</array>

	<key>ANDROID_CLIENT_ID</key>
	<string>748853933940-4mg2vqcbdc965f9d0qmvue39bkpk20qo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOCLtwoPQGcCKIKVYu7EaoHi3k14JetB4</string>
	<key>GCM_SENDER_ID</key>
	<string>748853933940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roz</string>
	<key>PROJECT_ID</key>
	<string>shopst-mc</string>
	<key>STORAGE_BUCKET</key>
	<string>shopst-mc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748853933940:ios:dbb5b40bbebb3f5629de21</string>
	<key>DATABASE_URL</key>
	<string>https://shopst-mc.firebaseio.com</string>
</dict>
</plist>